.player_control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
  color: white;
  background: black;

  p {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 100;
  }
}