.lineWrapper {
    position: relative;
    width: 100%;
    height: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 4px;

    .lines {
        position: relative;
        height: 10000px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;

        div {
            height: 10000px;
            flex-shrink: 0;
        }

        .empty {
            background: red;
        }

        .hit {
            background: green;
        }

        .buffering {
            // background-image: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), linear-gradient(to right, #3f51b5, #3f51b5);
            // -webkit-mask: url('./buffering.svg');
            // mask: url('./buffering.svg');
            // background-image: url('./buffering.svg');
            // background-size: cover;
            background: blue;
        }
    }
}